.header {
  height: var(--nav-height);
  background-color: var(--c-gunmetal);
  border-bottom: 2px solid var(--c-gunmetal-light);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: 0 4px 20px rgba(0,0,0,0.5);
}

.logoPlaceholder {
  font-weight: 900;
  font-size: 1.5rem;
  color: var(--c-text-main);
  letter-spacing: 4px;
  /* Simulating the red/blue mix from description */
  text-shadow: 2px 2px 0px var(--c-accent-blue), -2px -2px 0px var(--c-accent-red);
}

.navContainer {
  display: flex;
  height: 100%;
}

.navItem {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
}

.navButton {
  background: transparent;
  border: none;
  color: var(--c-text-muted);
  font-family: inherit;
  font-size: 1rem;
  text-transform: uppercase;
  padding: 0 1.5rem;
  height: 100%;
  cursor: pointer;
  transition: all 0.2s;
  border-bottom: 3px solid transparent;
}

.navButton:hover {
  color: var(--c-accent-blue);
  background-color: rgba(38, 106, 166, 0.1);
  border-bottom: 3px solid var(--c-accent-blue);
}

.forgeBtn {
    color: var(--c-accent-red);
}
.forgeBtn:hover {
    color: #ff4d4d;
    border-bottom: 3px solid var(--c-accent-red);
    background-color: rgba(166, 38, 38, 0.1);
}

/* The Organic Extension Dropdown */
.dropdown {
  position: absolute;
  top: 100%; /* Directly below header */
  left: 0;
  width: 200px;
  background-color: var(--c-gunmetal);
  border: 1px solid var(--c-gunmetal-light);
  border-top: none;
  
  /* Animation State: Hidden */
  opacity: 0;
  transform: translateY(-20px);
  pointer-events: none;
  transition: all 0.2s ease-out;
  
  /* Datapad styling */
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0 10px 15px rgba(0,0,0,0.5);
  overflow: hidden;
}

/* Animation State: Visible */
.show {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.dropdownItem {
  padding: 12px 1.5rem;
  color: var(--c-text-main);
  font-size: 0.9rem;
  cursor: pointer;
  border-left: 3px solid transparent;
  transition: background 0.2s;
}

.dropdownItem:hover {
  background-color: var(--c-gunmetal-light);
  border-left: 3px solid var(--c-accent-blue);
}

.profileSection {
    min-width: 100px;
    text-align: right;
}

.userRole {
    display: block;
    font-size: 0.7rem;
    color: var(--c-accent-red);
    letter-spacing: 1px;
}